body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#businessTitle{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 157, 157);
}