/* Background */
/* 
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
      /* Location of the image */
  /* background-image: url(../images/_DSC2481.jpeg); */
  
  /* Background image is centered vertically and horizontally at all times */
  /* background-position: center center; */
  
  /* Background image doesn't tile */
  /* background-repeat: no-repeat; */
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  /* background-attachment: fixed; */
  
  /* This is what makes the background image rescale based
     on the container's size */
  /* background-size: cover; */
  
  /* Set a background color that will be displayed
     while the background image is loading */
  /* background-color: #1b1b1b; */

  /* Display full image */
  /* background-size: contain;
 } */



/* Nav Bar */
#businessTitle{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 157, 157);
}